/* Sass Arrays and Mixins */
body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  background-color: #f78e1e;
  overflow: hidden;
  height: 100vh;
  position: relative; }

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  min-height: 500px;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .wrapper .text {
    display: block;
    width: 700px;
    z-index: 200; }
    .wrapper .text h1 {
      margin: 1em 2em 0;
      -webkit-transform: rotate(1deg);
      -ms-transform: rotate(1deg);
      transform: rotate(1deg);
      background: #fff;
      padding: 1.2em  3em;
      display: inline-block; }
    .wrapper .text h2 {
      -webkit-transform: rotate(-2deg);
      -ms-transform: rotate(-2deg);
      transform: rotate(-2deg);
      margin: -1em 6em 1em 3em;
      float: right;
      background: #f78e1e;
      padding: 1em 3em;
      display: inline-block; }

svg {
  width: 300px;
  height: auto;
  z-index: 199; }

.balloons {
  height: 100%;
  width: 100%;
  position: absolute; }

.balloon {
  border-radius: 50% 50% 50% 50% / 40% 40% 60% 60%;
  display: block;
  height: 100px;
  opacity: 0.8;
  position: absolute;
  width: 80px; }
  .balloon:after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    bottom: -5px;
    content: "";
    height: 0;
    left: 45%;
    position: absolute;
    width: 0; }

.balloon0 {
  background-color: #ddd;
  left: 40%;
  animation: flyingBalloon 26s -82s linear infinite;
  -webkit-animation: flyingBalloon 26s -82s linear infinite;
  -moz-animation: flyingBalloon 26s -82s linear infinite;
  -ms-animation: flyingBalloon 26s -82s linear infinite;
  -o-animation: flyingBalloon 26s -82s linear infinite; }
  .balloon0:after {
    border-bottom: 10px solid #ddd; }

.balloon1 {
  background-color: #ffffff;
  left: 91%;
  animation: flyingBalloon 22s -82s linear infinite;
  -webkit-animation: flyingBalloon 22s -82s linear infinite;
  -moz-animation: flyingBalloon 22s -82s linear infinite;
  -ms-animation: flyingBalloon 22s -82s linear infinite;
  -o-animation: flyingBalloon 22s -82s linear infinite; }
  .balloon1:after {
    border-bottom: 10px solid #ffffff; }

.balloon2 {
  background-color: #ddd;
  left: 37%;
  animation: flyingBalloon 27s -82s linear infinite;
  -webkit-animation: flyingBalloon 27s -82s linear infinite;
  -moz-animation: flyingBalloon 27s -82s linear infinite;
  -ms-animation: flyingBalloon 27s -82s linear infinite;
  -o-animation: flyingBalloon 27s -82s linear infinite; }
  .balloon2:after {
    border-bottom: 10px solid #ddd; }

.balloon3 {
  background-color: #eee;
  left: 44%;
  animation: flyingBalloon 25s -82s linear infinite;
  -webkit-animation: flyingBalloon 25s -82s linear infinite;
  -moz-animation: flyingBalloon 25s -82s linear infinite;
  -ms-animation: flyingBalloon 25s -82s linear infinite;
  -o-animation: flyingBalloon 25s -82s linear infinite; }
  .balloon3:after {
    border-bottom: 10px solid #eee; }

.balloon4 {
  background-color: #ffffff;
  left: 65%;
  animation: flyingBalloon 22s -82s linear infinite;
  -webkit-animation: flyingBalloon 22s -82s linear infinite;
  -moz-animation: flyingBalloon 22s -82s linear infinite;
  -ms-animation: flyingBalloon 22s -82s linear infinite;
  -o-animation: flyingBalloon 22s -82s linear infinite; }
  .balloon4:after {
    border-bottom: 10px solid #ffffff; }

.balloon5 {
  background-color: #ffffff;
  left: 51%;
  animation: flyingBalloon 23s -82s linear infinite;
  -webkit-animation: flyingBalloon 23s -82s linear infinite;
  -moz-animation: flyingBalloon 23s -82s linear infinite;
  -ms-animation: flyingBalloon 23s -82s linear infinite;
  -o-animation: flyingBalloon 23s -82s linear infinite; }
  .balloon5:after {
    border-bottom: 10px solid #ffffff; }

.balloon6 {
  background-color: #ddd;
  left: 42%;
  animation: flyingBalloon 9s -82s linear infinite;
  -webkit-animation: flyingBalloon 9s -82s linear infinite;
  -moz-animation: flyingBalloon 9s -82s linear infinite;
  -ms-animation: flyingBalloon 9s -82s linear infinite;
  -o-animation: flyingBalloon 9s -82s linear infinite; }
  .balloon6:after {
    border-bottom: 10px solid #ddd; }

.balloon7 {
  background-color: #ffffff;
  left: 91%;
  animation: flyingBalloon 10s -82s linear infinite;
  -webkit-animation: flyingBalloon 10s -82s linear infinite;
  -moz-animation: flyingBalloon 10s -82s linear infinite;
  -ms-animation: flyingBalloon 10s -82s linear infinite;
  -o-animation: flyingBalloon 10s -82s linear infinite; }
  .balloon7:after {
    border-bottom: 10px solid #ffffff; }

.balloon8 {
  background-color: #eee;
  left: 41%;
  animation: flyingBalloon 9s -82s linear infinite;
  -webkit-animation: flyingBalloon 9s -82s linear infinite;
  -moz-animation: flyingBalloon 9s -82s linear infinite;
  -ms-animation: flyingBalloon 9s -82s linear infinite;
  -o-animation: flyingBalloon 9s -82s linear infinite; }
  .balloon8:after {
    border-bottom: 10px solid #eee; }

.balloon9 {
  background-color: #ffffff;
  left: 79%;
  animation: flyingBalloon 15s -82s linear infinite;
  -webkit-animation: flyingBalloon 15s -82s linear infinite;
  -moz-animation: flyingBalloon 15s -82s linear infinite;
  -ms-animation: flyingBalloon 15s -82s linear infinite;
  -o-animation: flyingBalloon 15s -82s linear infinite; }
  .balloon9:after {
    border-bottom: 10px solid #ffffff; }

.balloon10 {
  background-color: #ddd;
  left: 80%;
  animation: flyingBalloon 11s -82s linear infinite;
  -webkit-animation: flyingBalloon 11s -82s linear infinite;
  -moz-animation: flyingBalloon 11s -82s linear infinite;
  -ms-animation: flyingBalloon 11s -82s linear infinite;
  -o-animation: flyingBalloon 11s -82s linear infinite; }
  .balloon10:after {
    border-bottom: 10px solid #ddd; }

.balloon11 {
  background-color: #ddd;
  left: 54%;
  animation: flyingBalloon 12s -82s linear infinite;
  -webkit-animation: flyingBalloon 12s -82s linear infinite;
  -moz-animation: flyingBalloon 12s -82s linear infinite;
  -ms-animation: flyingBalloon 12s -82s linear infinite;
  -o-animation: flyingBalloon 12s -82s linear infinite; }
  .balloon11:after {
    border-bottom: 10px solid #ddd; }

.balloon12 {
  background-color: #ddd;
  left: 45%;
  animation: flyingBalloon 9s -82s linear infinite;
  -webkit-animation: flyingBalloon 9s -82s linear infinite;
  -moz-animation: flyingBalloon 9s -82s linear infinite;
  -ms-animation: flyingBalloon 9s -82s linear infinite;
  -o-animation: flyingBalloon 9s -82s linear infinite; }
  .balloon12:after {
    border-bottom: 10px solid #ddd; }

.balloon13 {
  background-color: #ffffff;
  left: 25%;
  animation: flyingBalloon 18s -82s linear infinite;
  -webkit-animation: flyingBalloon 18s -82s linear infinite;
  -moz-animation: flyingBalloon 18s -82s linear infinite;
  -ms-animation: flyingBalloon 18s -82s linear infinite;
  -o-animation: flyingBalloon 18s -82s linear infinite; }
  .balloon13:after {
    border-bottom: 10px solid #ffffff; }

.balloon14 {
  background-color: #ffffff;
  left: 38%;
  animation: flyingBalloon 14s -82s linear infinite;
  -webkit-animation: flyingBalloon 14s -82s linear infinite;
  -moz-animation: flyingBalloon 14s -82s linear infinite;
  -ms-animation: flyingBalloon 14s -82s linear infinite;
  -o-animation: flyingBalloon 14s -82s linear infinite; }
  .balloon14:after {
    border-bottom: 10px solid #ffffff; }

.balloon15 {
  background-color: #eee;
  left: 18%;
  animation: flyingBalloon 11s -82s linear infinite;
  -webkit-animation: flyingBalloon 11s -82s linear infinite;
  -moz-animation: flyingBalloon 11s -82s linear infinite;
  -ms-animation: flyingBalloon 11s -82s linear infinite;
  -o-animation: flyingBalloon 11s -82s linear infinite; }
  .balloon15:after {
    border-bottom: 10px solid #eee; }

.balloon16 {
  background-color: #eee;
  left: 41%;
  animation: flyingBalloon 23s -82s linear infinite;
  -webkit-animation: flyingBalloon 23s -82s linear infinite;
  -moz-animation: flyingBalloon 23s -82s linear infinite;
  -ms-animation: flyingBalloon 23s -82s linear infinite;
  -o-animation: flyingBalloon 23s -82s linear infinite; }
  .balloon16:after {
    border-bottom: 10px solid #eee; }

.balloon17 {
  background-color: #eee;
  left: 9%;
  animation: flyingBalloon 9s -82s linear infinite;
  -webkit-animation: flyingBalloon 9s -82s linear infinite;
  -moz-animation: flyingBalloon 9s -82s linear infinite;
  -ms-animation: flyingBalloon 9s -82s linear infinite;
  -o-animation: flyingBalloon 9s -82s linear infinite; }
  .balloon17:after {
    border-bottom: 10px solid #eee; }

.balloon18 {
  background-color: #eee;
  left: 14%;
  animation: flyingBalloon 24s -82s linear infinite;
  -webkit-animation: flyingBalloon 24s -82s linear infinite;
  -moz-animation: flyingBalloon 24s -82s linear infinite;
  -ms-animation: flyingBalloon 24s -82s linear infinite;
  -o-animation: flyingBalloon 24s -82s linear infinite; }
  .balloon18:after {
    border-bottom: 10px solid #eee; }

.balloon19 {
  background-color: #eee;
  left: 93%;
  animation: flyingBalloon 13s -82s linear infinite;
  -webkit-animation: flyingBalloon 13s -82s linear infinite;
  -moz-animation: flyingBalloon 13s -82s linear infinite;
  -ms-animation: flyingBalloon 13s -82s linear infinite;
  -o-animation: flyingBalloon 13s -82s linear infinite; }
  .balloon19:after {
    border-bottom: 10px solid #eee; }

.balloon20 {
  background-color: #ddd;
  left: 20%;
  animation: flyingBalloon 9s -82s linear infinite;
  -webkit-animation: flyingBalloon 9s -82s linear infinite;
  -moz-animation: flyingBalloon 9s -82s linear infinite;
  -ms-animation: flyingBalloon 9s -82s linear infinite;
  -o-animation: flyingBalloon 9s -82s linear infinite; }
  .balloon20:after {
    border-bottom: 10px solid #ddd; }

.balloon21 {
  background-color: #ddd;
  left: 17%;
  animation: flyingBalloon 21s -82s linear infinite;
  -webkit-animation: flyingBalloon 21s -82s linear infinite;
  -moz-animation: flyingBalloon 21s -82s linear infinite;
  -ms-animation: flyingBalloon 21s -82s linear infinite;
  -o-animation: flyingBalloon 21s -82s linear infinite; }
  .balloon21:after {
    border-bottom: 10px solid #ddd; }

.balloon22 {
  background-color: #ddd;
  left: 63%;
  animation: flyingBalloon 26s -82s linear infinite;
  -webkit-animation: flyingBalloon 26s -82s linear infinite;
  -moz-animation: flyingBalloon 26s -82s linear infinite;
  -ms-animation: flyingBalloon 26s -82s linear infinite;
  -o-animation: flyingBalloon 26s -82s linear infinite; }
  .balloon22:after {
    border-bottom: 10px solid #ddd; }

.balloon23 {
  background-color: #eee;
  left: 56%;
  animation: flyingBalloon 12s -82s linear infinite;
  -webkit-animation: flyingBalloon 12s -82s linear infinite;
  -moz-animation: flyingBalloon 12s -82s linear infinite;
  -ms-animation: flyingBalloon 12s -82s linear infinite;
  -o-animation: flyingBalloon 12s -82s linear infinite; }
  .balloon23:after {
    border-bottom: 10px solid #eee; }

.balloon24 {
  background-color: #eee;
  left: 57%;
  animation: flyingBalloon 14s -82s linear infinite;
  -webkit-animation: flyingBalloon 14s -82s linear infinite;
  -moz-animation: flyingBalloon 14s -82s linear infinite;
  -ms-animation: flyingBalloon 14s -82s linear infinite;
  -o-animation: flyingBalloon 14s -82s linear infinite; }
  .balloon24:after {
    border-bottom: 10px solid #eee; }

.balloon25 {
  background-color: #ffffff;
  left: 8%;
  animation: flyingBalloon 23s -82s linear infinite;
  -webkit-animation: flyingBalloon 23s -82s linear infinite;
  -moz-animation: flyingBalloon 23s -82s linear infinite;
  -ms-animation: flyingBalloon 23s -82s linear infinite;
  -o-animation: flyingBalloon 23s -82s linear infinite; }
  .balloon25:after {
    border-bottom: 10px solid #ffffff; }

.balloon26 {
  background-color: #eee;
  left: 45%;
  animation: flyingBalloon 18s -82s linear infinite;
  -webkit-animation: flyingBalloon 18s -82s linear infinite;
  -moz-animation: flyingBalloon 18s -82s linear infinite;
  -ms-animation: flyingBalloon 18s -82s linear infinite;
  -o-animation: flyingBalloon 18s -82s linear infinite; }
  .balloon26:after {
    border-bottom: 10px solid #eee; }

.balloon27 {
  background-color: #ffffff;
  left: 73%;
  animation: flyingBalloon 14s -82s linear infinite;
  -webkit-animation: flyingBalloon 14s -82s linear infinite;
  -moz-animation: flyingBalloon 14s -82s linear infinite;
  -ms-animation: flyingBalloon 14s -82s linear infinite;
  -o-animation: flyingBalloon 14s -82s linear infinite; }
  .balloon27:after {
    border-bottom: 10px solid #ffffff; }

.balloon28 {
  background-color: #ffffff;
  left: 90%;
  animation: flyingBalloon 27s -82s linear infinite;
  -webkit-animation: flyingBalloon 27s -82s linear infinite;
  -moz-animation: flyingBalloon 27s -82s linear infinite;
  -ms-animation: flyingBalloon 27s -82s linear infinite;
  -o-animation: flyingBalloon 27s -82s linear infinite; }
  .balloon28:after {
    border-bottom: 10px solid #ffffff; }

.balloon29 {
  background-color: #eee;
  left: 55%;
  animation: flyingBalloon 12s -82s linear infinite;
  -webkit-animation: flyingBalloon 12s -82s linear infinite;
  -moz-animation: flyingBalloon 12s -82s linear infinite;
  -ms-animation: flyingBalloon 12s -82s linear infinite;
  -o-animation: flyingBalloon 12s -82s linear infinite; }
  .balloon29:after {
    border-bottom: 10px solid #eee; }

.balloon30 {
  background-color: #ffffff;
  left: 91%;
  animation: flyingBalloon 11s -82s linear infinite;
  -webkit-animation: flyingBalloon 11s -82s linear infinite;
  -moz-animation: flyingBalloon 11s -82s linear infinite;
  -ms-animation: flyingBalloon 11s -82s linear infinite;
  -o-animation: flyingBalloon 11s -82s linear infinite; }
  .balloon30:after {
    border-bottom: 10px solid #ffffff; }

.balloon31 {
  background-color: #ddd;
  left: 98%;
  animation: flyingBalloon 21s -82s linear infinite;
  -webkit-animation: flyingBalloon 21s -82s linear infinite;
  -moz-animation: flyingBalloon 21s -82s linear infinite;
  -ms-animation: flyingBalloon 21s -82s linear infinite;
  -o-animation: flyingBalloon 21s -82s linear infinite; }
  .balloon31:after {
    border-bottom: 10px solid #ddd; }

.balloon32 {
  background-color: #ddd;
  left: 2%;
  animation: flyingBalloon 9s -82s linear infinite;
  -webkit-animation: flyingBalloon 9s -82s linear infinite;
  -moz-animation: flyingBalloon 9s -82s linear infinite;
  -ms-animation: flyingBalloon 9s -82s linear infinite;
  -o-animation: flyingBalloon 9s -82s linear infinite; }
  .balloon32:after {
    border-bottom: 10px solid #ddd; }

.balloon33 {
  background-color: #ddd;
  left: 54%;
  animation: flyingBalloon 14s -82s linear infinite;
  -webkit-animation: flyingBalloon 14s -82s linear infinite;
  -moz-animation: flyingBalloon 14s -82s linear infinite;
  -ms-animation: flyingBalloon 14s -82s linear infinite;
  -o-animation: flyingBalloon 14s -82s linear infinite; }
  .balloon33:after {
    border-bottom: 10px solid #ddd; }

.balloon34 {
  background-color: #eee;
  left: 82%;
  animation: flyingBalloon 22s -82s linear infinite;
  -webkit-animation: flyingBalloon 22s -82s linear infinite;
  -moz-animation: flyingBalloon 22s -82s linear infinite;
  -ms-animation: flyingBalloon 22s -82s linear infinite;
  -o-animation: flyingBalloon 22s -82s linear infinite; }
  .balloon34:after {
    border-bottom: 10px solid #eee; }

.balloon35 {
  background-color: #ddd;
  left: 13%;
  animation: flyingBalloon 16s -82s linear infinite;
  -webkit-animation: flyingBalloon 16s -82s linear infinite;
  -moz-animation: flyingBalloon 16s -82s linear infinite;
  -ms-animation: flyingBalloon 16s -82s linear infinite;
  -o-animation: flyingBalloon 16s -82s linear infinite; }
  .balloon35:after {
    border-bottom: 10px solid #ddd; }

.balloon36 {
  background-color: #ddd;
  left: 15%;
  animation: flyingBalloon 12s -82s linear infinite;
  -webkit-animation: flyingBalloon 12s -82s linear infinite;
  -moz-animation: flyingBalloon 12s -82s linear infinite;
  -ms-animation: flyingBalloon 12s -82s linear infinite;
  -o-animation: flyingBalloon 12s -82s linear infinite; }
  .balloon36:after {
    border-bottom: 10px solid #ddd; }

.balloon37 {
  background-color: #ffffff;
  left: 40%;
  animation: flyingBalloon 26s -82s linear infinite;
  -webkit-animation: flyingBalloon 26s -82s linear infinite;
  -moz-animation: flyingBalloon 26s -82s linear infinite;
  -ms-animation: flyingBalloon 26s -82s linear infinite;
  -o-animation: flyingBalloon 26s -82s linear infinite; }
  .balloon37:after {
    border-bottom: 10px solid #ffffff; }

.balloon38 {
  background-color: #ffffff;
  left: 94%;
  animation: flyingBalloon 23s -82s linear infinite;
  -webkit-animation: flyingBalloon 23s -82s linear infinite;
  -moz-animation: flyingBalloon 23s -82s linear infinite;
  -ms-animation: flyingBalloon 23s -82s linear infinite;
  -o-animation: flyingBalloon 23s -82s linear infinite; }
  .balloon38:after {
    border-bottom: 10px solid #ffffff; }

.balloon39 {
  background-color: #eee;
  left: 76%;
  animation: flyingBalloon 21s -82s linear infinite;
  -webkit-animation: flyingBalloon 21s -82s linear infinite;
  -moz-animation: flyingBalloon 21s -82s linear infinite;
  -ms-animation: flyingBalloon 21s -82s linear infinite;
  -o-animation: flyingBalloon 21s -82s linear infinite; }
  .balloon39:after {
    border-bottom: 10px solid #eee; }

@-webkit-keyframes flyingBalloon {
  from {
    bottom: -20%; }
  to {
    bottom: 110%; } }

@-moz-keyframes flyingBalloon {
  from {
    bottom: -20%; }
  to {
    bottom: 110%; } }

@-ms-keyframes flyingBalloon {
  from {
    bottom: -20%; }
  to {
    bottom: 110%; } }

@-o-keyframes flyingBalloon {
  from {
    bottom: -20%; }
  to {
    bottom: 110%; } }

@keyframes flyingBalloon {
  from {
    bottom: -20%; }
  to {
    bottom: 110%; } }

#smile path:nth-of-type(2) {
  -webkit-animation: wink 3s ease-in-out infinite forwards;
  animation: wink 3s ease-in-out infinite forwards;
  opacity: 1; }

#smile path:nth-of-type(1) {
  -webkit-animation: wink2 3s ease-in-out infinite forwards;
  animation: wink2 3s ease-in-out infinite forwards;
  opacity: 0; }

#eye-r path:nth-of-type(1) {
  -webkit-animation: wink 3s ease-in-out infinite forwards;
  animation: wink 3s ease-in-out infinite forwards;
  opacity: 1; }

#eye-r path:nth-of-type(2) {
  -webkit-animation: wink2 3s ease-in-out infinite forwards;
  animation: wink2 3s ease-in-out infinite forwards;
  opacity: 0; }

@-webkit-keyframes wink {
  0% {
    opacity: 1; }
  80% {
    opacity: 1; }
  90% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes wink {
  0% {
    opacity: 1; }
  80% {
    opacity: 1; }
  90% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@-webkit-keyframes wink2 {
  0% {
    opacity: 0; }
  80% {
    opacity: 0; }
  90% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes wink2 {
  0% {
    opacity: 0; }
  80% {
    opacity: 0; }
  90% {
    opacity: 1; }
  100% {
    opacity: 1; } }
